{% extends "web_application/base.html" %}

{% block body %}
    {% block body-class %}
        <body>
    {% endblock %}
        <div class="navbar">
            <div class="container">
                <div class="navbar-header navbar-center">
                    <div class="navbar-brand">
                        <a href ="#">Brand Name</a>
                    </div>
                </div>
            </div>
        </div>
    </body>


    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

{% endblock %}

{% block js-head %}
{% endblock %}
