{% extends "chat/base.html" %}

{% block content %}
    <div class="chat_rooms">
        <div class="row">
            <div class="col-md-2">
                <h2>Chat Rooms</h2>
            </div>
        </div>
        <div class="row">
            {% for r in rooms %}
            <div class="col-lg-2 col-md-4">
                <ul>
                    <li><h4>{{ r.name }}</h4></li>
                    <li><b>Room ID:</b> {{ r.id }}</li>
                    <li><b>Messages:</b> {{ r.message_num }}</li>
                    <br>
                    <a href='{% url 'chat:view_chat' r.pk %}' class="btn btn-success btn-sm btn-full">Click to view chat</a>
                </ul>
                <br>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            {% include 'chat/includes/create_room.html' %}
        </div>
    </div>
{% endblock %}
