/*
 *	Page - content
 *	Friends list margin
 */

.page-content{
	margin-right: 0px;
}

@media (min-width: 1192px){
	.page-content{
		margin-right: 200px;
	}

	.friends-list{
		display: block!important;
	}
}

/*
 *  Scroll bar
 */

.messages::-webkit-scrollbar {
	width: 8px;
}

.messages::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: #DADBDF;
}

.custom-scroll::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: #DADBDF;
}

.custom-scroll::-webkit-scrollbar {
	width: 8px;
}

/* Custom Card */

.card .login .card-image,
.card .register .card-image{
    height: 75px;
    overflow: hidden;
}

.card-block{
	padding: 20px;
	border-top: 1px solid #dadbdf;
}

form.display-inline{
    display: inline-block;
}

/* bg */

.bg {
  background: url('https://unsplash.it/1855/400/?random')center center;
  background-color: #dadbdf;
}

/* Nav */

.navbar-center{
    float:none!important;
    text-align: center;
}

/* signup / signin */

.box{
    padding-top: 130px;
    padding-bottom: 50px;
}

/* Buttons */

.form-input{
    color: inherit;
    transition: border 0.5s;
    height: 50px;
    margin-bottom: 15px;
    width: 100%;
    padding: 0px!important;
    outline: none;
    appearance: none;
    border: none;
    resize: none;
    display: block;
    border-bottom: 1px solid #dadbdf;
	background-color: #f8f8f8!important;
}

textarea.form-input{
    height: 75px;
}

textarea.chat-input{
    height: 75px;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px!important;
}

.form-input:placeholder-shown{
    text-transform: capitalize;
    letter-spacing: inherit;
    font-size: 1rem;
}

textarea:focus,
textarea.focus,
input:focus,
input.focus {
	border-bottom: solid 1px #45c8dc!important;
	outline: none;
}

textarea.form-input-2:focus,
textarea.form-input-2.focus {
    border: solid 1px #45c8dc!important;
}

.form-input-2{
    padding: 10px!important;
    border-radius: 0.3rem;
    border: solid 1px #dadbdf;
    margin: 10px 0;
}

/* Jumbo */

.jumbotron{
    padding: 2rem;
    margin: 0px;
}

.jumbotron .container{
    min-height: 140px;
}

/* Chat */

.chat .card{
    text-align: left;
}

.card-line{
    border-top: 1px solid #dadbdf;
}

.chat .messages{
    height:355px;
    overflow-y: scroll;
	overflow-x: hidden;
	text-overflow: ellipsis;;
    outline: none;
}

.chat .messages li{
    margin: 10px;
}

.chat .messages li:after {
    content: '';
    clear: both;
    display: block;
}

.chat .messages li .head{
    font-size: .85rem;
}

.chat .messages li.self .head {
    text-align: right;
}

.chat .messages li .head {
    text-align: left;
}

.chat .messages li .name {
    font-weight: bold;
}

.chat .messages li .time {
    color: #b7bccf;
}

.chat .messages li.self .message{
    background-color: #62bf6e;
    float: right;
}

.chat .messages li.self .message:before {
    right: 16px;
    left: auto;
    border-bottom-color: #62bf6e!important;
}

.chat .messages li .message{
    background-color: #45c8dc;
    float: left;
}


.chat .messages li .message:before {
    left: 16px;
    border-bottom-color: #45c8dc!important;
}

.chat .messages li .message {
    margin-top: 20px;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
    padding: 20px;
    line-height: 25px;
    max-width: 500px;
    word-wrap: break-word;
    position: relative;
}

.chat .messages li .message:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    top: -12px;
    border-bottom: 12px solid #45c8dc;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/* Friends list */

.friends-list{
	margin-top: 65px;
	width: 200px;
	font-size: 1rem;
	position: fixed;
	right: 0px;
	top: 0;
	height: 100%;
	z-index: 999;
	border-left: 1px solid #dadbdf;
	display: none;
}

ul.friends li{
	position: relative;
}

ul.friends .title{
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	line-height: 2;
	height: 80px!important;
	padding: 15px!important;
}

ul.friends li.friend{
	background-color: #f0f0f0;
	border-bottom: 1px solid #dadbdf;
}

ul.friends li.friend a{
	line-height: 30px;
	overflow: hidden;
	padding: 5px 0;
	display: block;
	width: 100%;
	height: 40px;
}

ul.friends li.friend a{
	text-decoration: none;
	color: inherit;
}

ul.friends li.friend a:hover{
	background-color: #dadbdf;
}

.friend-container{
	padding-left: 12px;
	position: relative;
}

.friend-container .friend-img{
	float:left;
	height: 30px;
	position: relative;
	width:30;
}

.friend-container .friend-text{
	overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 404 505 */

.blue-bg{
    background-color: #45c8dc;
    color: #ffffff;
}

.error-page{
    padding-top: 100px;
}

.error-page h1 {
    font-size: 8rem;
    margin-top: 32px;
}

@media (min-width: 786px){
    .error-page h1 {
        font-size: 15rem;
    }
}

.error-page p{
    margin: 0 0 10px;
}

/* under menu */

.tab-menu ul{
    font-size: 0;
    border-bottom: 1px solid #dadbdf;
}

.tab-menu ul li{
    width: 25%;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #838999;
    font-size: .8rem;
    margin-bottom:-1px;
}

.tab-menu ul li.active{
    color: #46494C;
    margin-bottom: -1px;
}

.tab-menu ul li a{
    line-height: 50px;
    overflow: hidden;
    padding: 20px 10px;
    display: block;
    width: 100%;
    height: 80px;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.tab-menu ul li.active{
    color: #46494C;
    border-bottom: solid 2px #45c8dc;
}

.tab-menu ul li a:hover {
    color: #46494C;
}


@media (min-width: 544px){
    .tab-menu ul li{
        font-size: .9rem;
        width: auto;
    }

    .tab-menu ul li a{
        height: 40px;
        padding: 5px 20px;
        line-height: 30px;
        text-align: left;
    }
}


/* box */

.status .card{
    padding: 10px;
}


/* Search */

.search-container{
	padding-left: 0px;
	width: 400px;
}

.search-container input#search {
	width: 100%;
}

button, input, select, textarea {
	display: block;
	background-color: inherit;
	border: none;
}

.search-container .icon i {
    margin-left: 5px;
}

.navbar-toggler {
    display: inline-block;
}

.search-bar{
	margin-top: 10px;
}

.search-bar .search-container{
	width: 100%;
}

.search-bar .search-container input#search{
	background-color: #f8f8f8;
	border-radius: 0.2rem;
    border: solid 1px #dadbdf;
	color: #838999;
}

.search-bar .search-container input#search:focus,
.search-bar .search-container input#search.focus {
    border: solid 1px #45c8dc!important;
}

.search-bar .search-container .icon i{
	color: #dadbdf;
}

.search-bar .search-container input#search::-webkit-input-placeholder {
	color: #dadbdf;
}

/* navbar */

.navbar-center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* feed */

.feed-block{
	max-height: 150px;
	overflow: auto;
}

/* posts */

.posts {
    margin: 0.9375rem 0;
    overflow: auto;
    position: relative;
    margin: 0.9375rem 0;
    background-color: #f8f8f8;
    border-radius: 0.2rem;
    border: 1px solid #dadbdf;
	overflow: visible;
}


.posts ul li.post-block{
	border-top: 1px solid #dadbdf;
}

.posts ul li.post-block:first-child{
	border: none;
}

.posts ul li.post-block:last-child{
	border-top: 1px solid #dadbdf;
}

.posts .post-title {
	font-size: 1.6rem;
}

.posts .post-block p {
    margin: 0px;
    color: inherit;
}

.post-content{
	padding: 10px 30px!important;
}

.prf-img {
	display: block;
    position: relative;
}

.post-block::after {
    display: table;
    clear: both;
    content: "";
}

.post-header a{
	text-decoration: none;
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.post-header .post-header-container{
	padding: 8px 0;
}

.post-header a img {
	border-radius: 0.2rem;
	float:left;
	width: 42px;
	margin: 0px;
	margin-right: 20px;
}

.post-header a img {
	display: block;
}

.post-header a:hover{
	text-decoration: underline;
	color: #45c8dc;
}

.post-header .header-timestamp {
	color: #838999;
	font-size: 0.8rem;
}

.post-header .header-timestamp .fa {
    font-size: .5rem;
    margin-left: 5px;
}

@media (min-width: 544px) {
	.post-header .header-timestamp .fa{
		font-size: 0.9rem;
	}

	.post-header .header-timestamp{
		font-size: 1rem;
	}
}

.post-headerr span i {
    height: 18px;
    line-height: 18px;
}

.post-header span{
	color: #838999;
	cursor: pointer;
	font-size: 1.5rem;
	line-height: 3;
	padding: 8px 0;
	display:block;
	position: absolute;
	right: 30px;
	top: 0;
}

/* Dropdowns */

.dropdown {
}

ul.dropdown-content {
	border-radius: 0.2rem;
	border: 1px solid #dadbdf;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: auto;
	margin-top: 50px;
    padding: 12px 16px;
	z-index: 10;
	right: 20px;
	top: 0;
}

ul.dropdown-content li{
	padding: 5px 0;
}

ul.dropdown-content li a{
	color: inherit;
	font-weight: normal;
}

.dropdown:hover ul.dropdown-content {
    display: block!important;
}
