body{
    background-color: #f0f0f0;
}

#content-wrapper{
	padding-top:65px;
}

.page-content{
	margin-right: 0px;
}

@media (min-width: 1192px){
	.page-content{
		margin-right: 200px;
	}

	.friends-list{
		display: block!important;
	}
}


/*
 *  Scroll bar
 */

.messages::-webkit-scrollbar-track
{

}

.messages::-webkit-scrollbar
{
	width: 8px;
}

.messages::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	background-color: #DADBDF;
}


.center-text{
    text-align: center;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}


.card .card-action{
    text-align: left;
}

.card .login .card-image,
.card .register .card-image{
    height: 75px;
    overflow: hidden;
}

/* bg */

.bg {
  background: url('https://unsplash.it/1855/400/?random')center center;
  background-color: #dadbdf;
}

/* Cards */

.card .card-action a,
.card .card-action .link {
  margin-right: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.card .card-action form.display-inline{
    display: inline-block;
}

.btn-full{
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.btn-right{
    float:right
}

.card .card-action .btn{
    margin-right: 10px;
}



/* Nav */

.navbar-center{
    float:none!important;
    text-align: center;
}

/* signup / signin */

.box{
    padding-top: 130px;
    padding-bottom: 50px;
}

/* Buttons */

.form-input{
    color: inherit;
    transition: border 0.5s;
    height: 50px;
    margin-bottom: 15px;
    width: 100%;
    padding: 0px!important;
    outline: none;
    appearance: none;
    border: none;
    resize: none;
    display: block;
    border-bottom: 1px solid #dadbdf;
	background-color: #f8f8f8!important;
}

textarea.form-input{
    height: 75px;
}

textarea.chat-input{
    height: 75px;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px!important;
}

.btn{
	overflow: hidden;
}

a.btn {
    color: #ffffff;
    text-decoration:none;
}

.form-input:placeholder-shown{
    text-transform: capitalize;
    letter-spacing: inherit;
    font-size: 1rem;
}

textarea:focus,
textarea.focus,
input[type="text"]:focus,
input[type="text"].focus,
input[type="password"]:focus,
input[type="password"].focus {
	border-bottom: solid 1px #45c8dc!important;
	outline: none;
}

textarea.form-input-2:focus,
textarea.form-input-2.focus {
    border: solid 1px #45c8dc!important;
}

.form-input-2{
    padding: 10px!important;
    border-radius: 0.3rem;
    border: solid 1px #dadbdf;
    margin: 10px 0;
}

/* navbar */

#push_sidebar {
	transition: all .5s ease;
}

#wrapper {
    transition: none;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    transition: none;
}

@media (min-width: 1192px){
    #push_sidebar {
        transition: none;
    }
    body.show_sidebar #wrapper{
        margin-left: 200px;
    }
}

body.show_sidebar .navbar-fixed-bottom, body.show_sidebar .navbar-fixed-top {
    margin: inherit;
    z-index: 998;
	transition: none;
}


.navbar .navbar-header .navbar-brand{
    padding: 15px 0.9375rem ;
}

.navbar-nav li:last-child {
    padding-right: 0.9375rem;
}

.nav_trigger{
    margin-left: 0.9375rem;
}

/* Jumbo */

.jumbotron{
	display: block;
    padding: 2rem;
    margin: 0px;
}

.jumbotron .container{
    min-height: 100px;
}


/* Page-banner */

.navbar .navbar-header{
    line-height: 65px;
}

.search-container {
    margin-top: 0px;
    margin-top: -5px;
}

.search-container .icon {
    color: #f8f8f8;
    margin-top: -15px;
}

.search-container input#search {
    width: 450px;
    color: #f8f8f8;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.nav{
    display:inline-block;
}

/* Chat */

.card{
	background-color: #f8f8f8;
	box-shadow: none;
	border-radius: 0.3rem;
	border: 1px solid #dadbdf;
    position: relative;
    overflow: auto;
    margin: 0.9375rem 0;
}

.chat .card{
    background: #f8f8f8;
    text-align: left;
    box-shadow: none;
}

.card-line{
    border-top: 1px solid #dadbdf;
}

.card .card-action{
	border-top: 1px solid #dadbdf;
}

.chat .messages{
    height:355px;
    overflow-y: scroll;
	overflow-x: hidden;
	text-overflow: ellipsis;;
    outline: none;
}

.chat .messages li{
    margin: 10px;
}

.chat .messages li:after {
    content: '';
    clear: both;
    display: block;
}

.chat .messages li .head{
    font-size: .85rem;
}

.chat .messages li .head {
    text-align: right;
}

.chat .messages li.self .head {
    text-align: left;
}

.chat .messages li .name {
    font-weight: bold;
}

.chat .messages li .time {
    color: #b7bccf;
}

.chat .messages li .message{
    background-color: #45c8dc;
    float: right;
}

.chat .messages li .message:before {
    right: 16px;
    border-bottom-color: #45c8dc!important;
}

.chat .messages li.self .message{
    background-color: #62bf6e;
    float: left;
}

.chat .messages li.self .message:before {
    left: 16px;
    border-bottom-color: #62bf6e!important;
}

.chat .messages li .message {
    margin-top: 20px;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
    padding: 20px;
    line-height: 25px;
    max-width: 500px;
    word-wrap: break-word;
    position: relative;
}

.chat .messages li .message:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    top: -12px;
    border-bottom: 12px solid #62bf6e;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/* Friends list */
.friends-list{
	margin-top: 65px;
	width: 200px;
	font-size: 1rem;
	position: fixed;
	right: 0px;
	top: 0;
	height: 100%;
	z-index: 999;
	border-left: 1px solid #dadbdf;
	display: none;
}

ul.friends li{
	position: relative;
}

ul.friends .title{
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	line-height: 2;
	height: 80px!important;
	padding: 15px!important;
}

ul.friends li.friend{
	background-color: #f0f0f0;
	border-bottom: 1px solid #dadbdf;
}

ul.friends li.friend a{
	line-height: 30px;
	overflow: hidden;
	padding: 5px 0;
	display: block;
	width: 100%;
	height: 40px;
}

ul.friends li.friend a{
	text-decoration: none;
	color: inherit;
}

ul.friends li.friend a:hover{
	background-color: #dadbdf;
}

.friend-container{
	padding-left: 12px;
	position: relative;
}

.friend-container .friend-img{
	float:left;
	height: 30px;
	position: relative;
	width:30;
}

.friend-container .friend-text{
	overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 404 505 */

.blue-bg{
    background-color: #45c8dc;
    color: #ffffff;
}

.error-page{
    padding-top: 100px;
}

.error-page h1 {
    font-size: 8rem;
    margin-top: 32px;
}

@media (min-width: 786px){
    .error-page h1 {
        font-size: 15rem;
    }
}

.error-page p{
    margin: 0 0 10px;
}

/* under menu */

.tab-menu ul{
    font-size: 0;
    border-bottom: 1px solid #dadbdf;
}

.tab-menu ul li{
    width: 25%;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #838999;
    font-size: .8rem;
    margin-bottom:-1px;
}

.tab-menu ul li.active{
    color: #46494C;
}

.tab-menu ul li a{
    line-height: 50px;
    overflow: hidden;
    padding: 20px 10px;
    display: block;
    width: 100%;
    height: 80px;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.tab-menu ul li.active{
    color: #46494C;
    border-bottom: solid 2px #45c8dc;
}


@media (min-width: 544px){
    .tab-menu ul li{
        font-size: .9rem;
        width: auto;
    }

    .tab-menu ul li a{
        height: 40px;
        padding: 5px 20px;
        line-height: 30px;
        text-align: left;
    }
}


/* box */

.status .card{
    padding: 10px;
}
