<!-- display the form -->
<div class="col-lg-4">
    <div class="card">
        <form  method="post" action="{% url 'chat:view_chatrooms' %}">
            <div class="card-content">
                <span class="card-title">Create new chat room.</span>
                {% if form.errors %}<p>Missing: {{ form.errors|join:", " }}</p>{% endif %}
                {% csrf_token %}
                {{ form.name }}
                {{ form.description }}
                <input class="btn btn-primary btn-full" type="submit" value="Create new chat room" />
            </div>
        </form>
    </div>
</div>
