{% extends "base.html" %}

{% block content %}
    <div class="jumbotron" style="margin-top:15px;">
        <div class="container">
            <h1>Index Page</h1>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="row">
            <div class="card-panel">
                <form method="POST" id="form-test">
                    {% csrf_token %}
                    <input type="text" id="text-input" placeholder="Insert Text Here">
                    <div id="results"></div> <!-- errors go here -->
                    <input type="submit" value="Post">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
