<!DOCTYPE html>
<html>
    <head>
        {% include 'web_application/includes/head.html' %}
    </head>

    <body class="show_sidebar">
        {% include 'web_application/includes/sidebar.html' %}
        <div id="wrapper">
            {% include 'web_application/includes/header.html' %}

            <div class="jumbotron bg">
                <div class="container">
                </div>
            </div>

            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
