<li class="post-block post-content post-header">
    <div class="post-header-container clear-fix">
        <a href="{% url 'user_profile:index' p.author.username %}">
            <img src="{{ p.author.avatar.url }}" alt="user profile image">
            {{ p.author.username}}
        </a>
        <div class="header-timestamp">{{ p.created_at }}<i class="fa fa-globe"></i></div>
    </div>
    <div class="dropdown">
        <span><i class="fa fa-angle-down dropdown"></i></span>
        <ul class="dropdown-content">
            <li><a href="{% url 'news_feed:view_post' p.pk %}">Direct Link</a></li>
            <li><a href="{% url 'news_feed:delete_post' p.pk %}">Delete</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>
</li>
