
.center-text{
    text-align: center;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

.card .card-action{
    text-align: left;
}

.card .login .card-image,
.card .register .card-image{
    height: 75px;
    overflow: hidden;
}

/* bg */

.bg {
  background: url('https://unsplash.it/1855/400/?random')center center;
  background-color: #dadbdf;
}

/* Cards */

.card .card-action a,
.card .card-action .link {
  margin-right: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Nav */

.navbar-center{
    float:none!important;
    text-align: center;
}

/* signup / signin */

.box{
    padding-top: 130px;
    padding-bottom: 50px;
}

/* Buttons */

.form-input{
    display: block;
    width: 100%;
    color: inherit;
    height: 50px;
    padding:0px;
    font-size: 16px;
    border: 0px;
    border-bottom: 1px solid #dadbdf;
    margin: 15px 0;
    transition: border 0.5s;
    appearance: none;
}

a.btn {
    color: #ffffff;
    text-decoration:none;
}

.form-input:placeholder-shown{
    text-transform: uppercase;
    letter-spacing: inherit;
    font-size: 1rem;
}

textarea:focus,
textarea.focus,
input[type="text"]:focus,
input[type="text"].focus,
input[type="password"]:focus,
input[type="password"].focus {
  border-bottom: solid 1px #45c8dc;
  outline: none;
}

/* navbar */

.navbar .navbar-header .navbar-brand{
    padding: 15px 0.9375rem ;
}

.navbar-nav li:last-child {
    padding-right: 0.9375rem;
}

.nav_trigger{
    margin-left: 0.9375rem;
}
