{% load staticfiles %}
{% block form_content %}
<!-- display the form -->
<div class="register">
    <div class="card-image">
        <img src="{% static 'images/backgrounds/MaterialBackground.jpg' %}">
        <span class="card-title text-bold">Register</span>
    </div>
    <form action='{% url 'authentication:register' %}' method="post" class="form-register">
        <div class="card-content">
            {% csrf_token %}

            {% for field in form %}
                {{ field }}
                {% if form.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-error">
                            <small>{{ error|escape }}</small>
                        </div>
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                        <div class="alert alert-error">
                            <small>{{ error|escape }}</small>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}

             <button class="btn btn-primary btn-full btn-register" type='submit'>Register</button>
        </div>
        <div class="card-action">
            <a class="" href="{% url 'authentication:login' %}">Already have an account?</a>
        </div>
    </form>
</div>
{% endblock %}
