{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <!--head-->
        {% block meta-head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>web_application</title>
        {% endblock %}
        {% block styles-head %}
            <link rel="stylesheet" type="text/css" href="http://lazercube.github.io/web-framework/css/framework.css"/>
            <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/application/custom.css' %}"/>
            <link rel="icon" href="http://lazercube.github.io/web-framework/fonts/favicon.ico" type="image/x-icon"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        {% endblock %}
        {% block js-head %}
            <script src="{% static 'javascripts/components/jquery/jquery.js' %}"/></script>
            <script src="{% static 'javascripts/application/base.js' %}"/></script>
            <script src="http://lazercube.github.io/web-framework/js/framework.js"></script>
            <script src="{% static 'javascripts/application/friends.js' %}"/></script>
        {% endblock %}
        {% block extra-head %}{% endblock %}
        <!--endhead-->
    </head>

    {% block body %}
        <body class="show_sidebar">
            {% include 'web_application/includes/sidebar.html' %}
            <div id="wrapper">
                {% include 'web_application/includes/header.html' %}
                <div id="content-wrapper">
                    {% include 'friends/includes/friends_list.html' %}
                    <div class="container-fluid page-content">
                        {% block wrapper-body %}{% endblock %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </body>
    {% endblock %}

</html>
