<!DOCTYPE html>

<html>
    <head>
        {% include 'web_application/includes/head.html' %}
    </head>

    <body class="show_sidebar">
        {% include 'web_application/includes/sidebar.html' %}
        <div id="wrapper">
            {% include 'web_application/includes/header.html' %}

            <div class="navbar navbar-fixed-top page-banner" style="margin-bottom:0px">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            <a href ="#" >Home</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jumbotron bg">
                <div class="container">
                </div>
            </div>
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
