{% extends "web_application/base.html" %}

{% block body %}
<body class="show_sidebar">
    {% include 'web_application/includes/sidebar.html' %}
    <div id="wrapper">
        <nav class="navbar navbar-fixed-top">

        </nav>
        <div id="content-wrapper">
            {% include 'friends/includes/friends_list.html' %}
            <div class="container-fluid page-content">
                {% block wrapper-body %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
