<div class="card-content">
    <h4>Friend Request<small> {{ friend.created }} </small></h4>
    <p><a href='/profile/{{ friend.from_user.username }}/'><b>{{ friend.from_user.username }}</b></a> has sent you a friend request.</p>
    <p>{{ friend.message }}</p>
</div>
<div class="card-action">
    <form class="display-inline" method="post" action="{% url 'friends:accept_friend' friend.pk %}">
        {% csrf_token %}
        <input class="btn btn-primary btn-sm" type="submit" value="Confirm As Friend" />
    </form>

    <form class="display-inline" method="post" action="{% url 'friends:reject_friend' friend.pk %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger btn-sm" value="Reject Request" />
    </form>
</div>
