{% extends "web_application/base.html" %}

{% block content %}

    <div class="title">
        <div class="row">
            <div class="col-lg-12">
                <h1>Friends List</h1>
            </div>
        </div>
    </div>

    <div class="friends">
        <div class="row">
            {% for f in friends %}
            <div class="col-lg-3">
                <div class="card-panel">
                    <span>
                        <ul>
                            {% if errors %}<li>{{ errors|join:", " }}</li>{% endif %}
                            <li>Username: <a href="{% url 'user_profile:index' f.username %}">{{ f.username }}</a></li>
                            <li>Name: {{ f.get_full_name }}</li>
                            <li>{% include 'friends/includes/friends/remove.html' %}</li>
                        </ul>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
