{% load staticfiles %}
{% block form_content %}
<!-- display the form -->
<div class="login">
    <div class="card-image">
        <img src="{% static 'images/backgrounds/MaterialBackground.jpg' %}">
        <span class="card-title text-bold">Login</span>
    </div>
    <form action='{% url 'login' %}' method="post" class="form-signin">
        <div class="card-content">
            {% csrf_token %}
            {{ state }}
            {{ form.username }}
            {{ form.password }}
             <button class="btn btn-primary btn-full btn-login" type='submit'>Sign in</button>
        </div>
        <div class="card-action">
            <a class="" href='/register'>Register</a>
            <a href='#forgot password' class="">Forgot your password</a>
        </div>
    </form>
</div>
{% endblock %}
