{% block form_content %}
<!-- display the form -->
<div class="card-container">
    <form action='{% url 'login' %}' method="post" class="form-signin">
        <div class="login-card">
            <p class="login-title">Login</p>
            {% csrf_token %}
            {{ state }}
            {{ form.username }}
            {{ form.password }}
             <p class="login-lost-pass"><a href='#forgot password'>Forgot your password</a></p>
        </div>
        <div class="login-button-card">
            <a class="btn-login login-register" href='#register'>
                <p>Register</p>
            </a>
            <button class="btn-login login-sign-in" type='submit'>
                <p>Sign in</p>
            </button>
        </div>
    </form>
</div>
{% endblock %}
